.container .alert {
    transform: translateY(130%);
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.container.alert-is-shown .alert {
    transition: 0.25s;
    transition-timing-function: ease-in;
    transform: translateY(0%);
    opacity: 1;
}

.container {
    width: 180px;
    margin: 0 auto;
    border: 10px solid #666666;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 80px 80px / 25px 25px 25px 25px;
}

.alert {
    width: 90%;
    height: 60px;
    left: 5%;
    bottom: 70px;
    background: white;
    border-radius: 4px;
    opacity: 0;
    box-shadow: 0 5px 15px rgba(black, 0.2);
    position: absolute;
    z-index: 10;
}

body {
    padding: 40px;
    background: #EEEEEE;
}

.note {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 12px monospace;
    color: #999;
    text-transform: uppercase;
}