.container {
    width: 50%;
    height: 400px;
}

.alert {
    width: 100%;
    background-color: aqua;
}

.note {
    text-align: center;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: block;
    margin-top: 1rem;
}

.alert a:hover {
    transform: translateY(100px);
    transition: 0.2s;
}

.note:hover {
    transform: translateY(0);
}