

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.boxes {
  display: block;
  width: 18%;
  height: 220px;
  background: #100e0f;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 12.5px 19px 12.5px 0px;
  cursor: pointer;
}

.da-image {
  min-height: 100%;
  width: 100%;
}

.overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    color: #97c055;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.text1{
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 42%;
    left: auto;
    right: auto;
    font-size: 25px;
    text-align: center;
}
.container {
  width: 1170px;
  display: block;
  display: flex;
  flex-flow: row wrap;
  margin: 30px;
  width: 100%;
}
.new-launches {
    margin: 30px;
    border-top: 6px solid #97c055;
}

.new-launches img {
    width: 100%;
    height: 600px;
}
.ncontainer {
    position: relative;
}

.noverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    width: 100%;
    height: 70px;
    opacity: 0;
    transition: .5s ease;
}

.ncontainer:hover .noverlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.text {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding-top: 18px;
    padding-left: 20px;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);
    text-align: left;
    font-family: 'Lato', sans-serif;
}


.projects {
    margin: 30px;
    border-top: 6px solid #97c055;
}

.projects-div {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.projects img {
    width: 100%;
    height: 500px;
}

.projects-div p {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    background-color:#97c055;
    color:#100e0f;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.news {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.news-1 {
    margin: 0px 20px 0px 30px;
    width: 35%;
    border-top: 6px solid #97c055;
}   

.news-1 img {
    width: 100%;
    height: 450px;
}

.news-2 {
    width: 58%;
    border-top: 6px solid #97c055;
}

.news-2 img {
    width: 100%;
    height: 450px;
}

.news-3 {
    margin: 30px;
    width: 100%;
    border-top: 6px solid #97c055;
}

.news-3 img {
    width: 100%;
    height: 500px;
}

.news-div {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.news-text {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.news-div h5 {
    margin: 0px;
    padding: 10px 20px 10px 20px;
    width: 100%;
    font-weight: lighter;
    background-color:   #97c055;
    color: #100e0f;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.news-div p {
    margin: 0px;
    padding: 0px 20px 10px 20px;
    width: 100%;
    height: 60px;
    background-color: #97c055;
    color: #100e0f;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
