.page-container {
    width: 100%;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.slideshow {
    width: 100%;
    margin: 0px;
    padding: 10px;
    border: none;
}

.slideshow-container {
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
}

.mySlides {
    display: none;
    width: 100%;
}

.mySlides img {
    width: 100%;
    height: 550px;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 12%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 12%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    user-select: none;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.8
    }
    to {
        opacity: 1
    }
}

.index-new-launches {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.index-new-launches-heading {
    width: 100%;
    text-align: center;
}

.index-new-launches-heading h1 {
    margin-left: 350px;
    margin-right: 350px;
    font-size: 50px;
    border-bottom: 1px solid saddlebrown;
    padding: 10px;
}

.index-new-launches-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.new-launches-1 {
    width: 33.3%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.new-launches-1 p {
    margin: 0;
    padding: 20px;
    background-color: black;
    color: #bbb;
}

.new-launches-1 img {
    width: 100%;
    height: 380px;
}

.index-news {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.index-news-heading {
    width: 100%;
    text-align: center;
}

.index-news-heading h1 {
    margin-left: 350px;
    margin-right: 350px;
    font-size: 50px;
    border-bottom: 1px solid saddlebrown;
    padding: 10px;
}

.index-news-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.news-1 {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}

.news-1 p {
    margin: 0;
    padding: 20px;
    background-color: black;
}

.news-1-1 {
    width: 45%;
    padding: 10px 10px 10px 0px;
}

.news-1-2 {
    width: 55%;
    padding: 10px;
}

.news-4 {
    width: 100%;
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-flow: column wrap;
}

.news-4 p {
    margin: 0;
    padding: 20px;
    background-color: black;
}

.news-1-1 img {
    width: 100%;
    height: 350px;
}

.news-1-2 img {
    width: 100%;
    height: 350px;
}

.news-1-3 img {
    width: 100%;
    height: 350px;
}

.news-4 img {
    width: 100%;
    height: 450px;
}

.index-products {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.index-products-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.index-products-heading {
    width: 100%;
    text-align: center;
}

.index-products-heading h1 {
    margin-left: 350px;
    margin-right: 350px;
    font-size: 50px;
    border-bottom: 1px solid saddlebrown;
    padding: 10px;
}

.products-1 {
    width: 24%;
    padding: 10px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-flow: column wrap;
}

.products-1-1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.products-1-1 p {
    margin: 0;
    padding: 20px;
    background-color: black;
}

.products-2 {
    width: 24%;
    padding: 10px 0px 10px 0px;
}

.products-3 {
    width: 24%;
    padding: 10px 0px 10px 0px;
}

.products-4 {
    width: 24%;
    padding: 10px 0px 10px 0px;
}

.products-1 img {
    width: 100%;
    height: 300px;
}

.products-2 img {
    width: 100%;
    height: 300px;
}

.products-3 img {
    width: 100%;
    height: 300px;
}

.products-4 img {
    width: 100%;
    height: 300px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0%;
    left: 38%;
    background-color: #f5f2eb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #282829;
    font-size: small;
    font-weight: lighter;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #282829;
    color: #f5f2eb;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

.index-extra {
    width: 100%;
    padding: 10px;
    margin: 0px;
    border: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.index-projects {
    width: 50%;
    padding: 10px;
    margin: 0px;
    border: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.index-projects-heading h1 {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 40px;
    border-bottom: 1px solid saddlebrown;
    padding: 10px;
}

.index-projects-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 100%;
    padding: 40px;
}

.projects-1-1 {
    height: 33.3%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-color: black;
}

.projects-1-1 img {
    padding: 10px;
    height: 60px;
    width: 20%;
    margin: 0;
}

.projects-1-1 p {
    margin: 0;
    padding: 20px;
    width: 60%;
    height: 100%;
    background-color: black;
}

@media screen and (max-width:322px) {
    .page-container {
        padding: 0px;
    }
    .index-new-launches {
        padding: 0px;
    }
    .index-news {
        padding: 0px;
    }
    .index-products {
        padding: 0px;
    }
    .index-new-launches-heading h1 {
        font-size: 10px;
    }
    .index-new-launches-list {
        flex-flow: column wrap;
    }
    .new-launches-1 {
        width: 100%;
    }
    .index-products-heading h1 {
        font-size: 10px;
    }
    .index-products-list {
        flex-flow: column wrap;
    }
    .products-1-1 img {
        width: 100%;
    }
    .index-news-heading h1 {
        font-size: 10px;
    }
    .index-news-list-1 {
        flex-flow: column wrap;
    }
    .news-1-1 {
        width: 100%;
    }
    .news-1-2 {
        width: 100%;
    }
    .products-1 {
        width: 100%;
        padding: 0px;
    }
    .products-1-1 {
        width: 100%;
        padding: 0px;
    }
    .products-2 {
        width: 100%;
        padding: 0px;
    }
    .products-3 {
        width: 100%;
        padding: 0px;
    }
    .products-4 {
        width: 100%;
        padding: 0px;
    }
    .index-projects {
        display: none;
    }
    .new-launches-1 {
        padding: 0px;
    }
    .news-1 {
        padding: 0px;
    }
    .news-1-1 {
        padding: 0px;
    }
    .news-1-2 {
        padding: 0px;
    }
    .news-4 {
        padding: 0px;
    }
    .news-1-3 {
        padding: opx;
    }
}

@media screen and (max-width:378px)and (min-width: 323px) {
    .page-container {
        padding: 0px;
    }
    .index-new-launches {
        padding: 0px;
    }
    .index-news {
        padding: 0px;
    }
    .index-products {
        padding: 0px;
    }
    .index-new-launches-heading h1 {
        font-size: 10px;
    }
    .index-new-launches-list {
        flex-flow: column wrap;
    }
    .new-launches-1 {
        width: 100%;
    }
    .index-products-heading h1 {
        font-size: 10px;
    }
    .index-products-list {
        flex-flow: column wrap;
    }
    .products-1-1 img {
        width: 100%;
    }
    .index-news-heading h1 {
        font-size: 10px;
    }
    .index-news-list-1 {
        flex-flow: column wrap;
    }
    .news-1-1 {
        width: 100%;
    }
    .news-1-2 {
        width: 100%;
    }
    .products-1 {
        width: 100%;
        padding: 0px;
    }
    .products-1-1 {
        width: 100%;
        padding: 0px;
    }
    .products-2 {
        width: 100%;
        padding: 0px;
    }
    .products-3 {
        width: 100%;
        padding: 0px;
    }
    .products-4 {
        width: 100%;
        padding: 0px;
    }
    .index-projects {
        display: none;
    }
    .new-launches-1 {
        padding: 0px;
    }
    .news-1 {
        padding: 0px;
    }
    .news-1-1 {
        padding: 0px;
    }
    .news-1-2 {
        padding: 0px;
    }
    .news-4 {
        padding: 0px;
    }
    .news-1-3 {
        padding: 0px;
    }
}